<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>
      <% if signed_in? %>
        <%= link_to  @user.name, user_path(@user) %>
        <span>
          <% if @user.roles.first.nil? %>
            (<%= @user.category.titleize %>)
          <% else %>
            (<%= @user.roles.first.name.titleize %>)
          <% end %>
        </span>
      <% else %>
        Welcome Visitor!
      <% end %>
    </h3>
    <h4>Designations</h4>
    <%= render 'form' %>
  </div>
</div>
