<hgroup class="col-md-6 col-md-offset-1">
  <div class="row">
    <h2 class="col-lg-6 pull-left">Step 1</h2>
    <sgroup class="col-lg-6 pull-right">
      <% unless @hospital.nil? %>
        <span class="pull-right"><%= link_to @hospital.name, edit_designation_path(@user.default_designation.id) %></span><br />
        <span class="pull-right"><%= link_to @hospital.city, edit_designation_path(@user.default_designation.id) %></span>
      <% else %>
        <%= link_to "Add hospital", new_designation_path %>
      <% end %>
    </sgroup>
  </div>
</hgroup>
<div class="col-md-6 col-md-offset-1">
  <%= render 'form' %>
</div>
