<div class="row">
  <hgroup class="small-12 medium-6 columns">
    <h2 class="left">Step 1</h2>
    <sgroup class="right">
      <% unless @hospital.nil? %>
        <span><%= link_to @hospital.name, edit_designation_path(@user.default_designation.id) %></span><br />
        <span><%= link_to @hospital.city, edit_designation_path(@user.default_designation.id) %></span>
      <% else %>
        <%= link_to "Add hospital", new_designation_path %>
      <% end %>
    </sgroup>
  </hgroup>
</div>
<div class="row">
  <div class="small-12 medium-6">
    <%= render 'form' %>
  </div>
</div>
