<section role="patient">
  <div class="col-md-8 col-md-offset-1">
    <div class="row patient">
      <div class="col-xs-3">
        <span>
          <img src="http://lorempixel.com/output/people-q-c-75-75-7.jpg" alt="Betty" class="img-responsive img-rounded" />
        </span>
      </div>
      <div class="col-xs-9">
        <h3><%= @patient.name %></h3>
        <span class="subtitle"><%= @patient.age %> / <%= @patient.gender %></span>
      </div>
    </div>
  </div>
</section>
