// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Mini button
.button-mini {
  @extend button;
  @include radius;
  padding: 0.25rem;
  font-size: 0.75rem;
  background-color: green;
  margin: 0;
}

// Make the background neutral for buttons in forms
form, form.button_to {
  margin: 0.10rem;
  padding: 0.15rem;
}
table#designation-roles > tbody {
  tr:nth-child(even) > td, .st-val > form.button_to {
    background-color: #f9f9f9;
  }
  tr:nth-child(odd) > td > form.button_to {
    background-color: #fff;
  }
}

// Decrease the size of span element in headers
h3 > span {
  font-size: rem-calc(18);
}

// Improve spacing for radio buttons
input[type="radio"], select {
  margin: 0.25rem 0.35rem;
}

// Stacktable css by John Polacek
// http://johnpolacek.github.io/stacktable.js/
.stacktable {
  width: 100%;
}
.st-head-row {
  padding-top: 1em;
}
.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}
.st-key {
  width: 49%;
  text-align: right;
  padding-right: 1%;
  font-weight: 600;
  color: #222222;
}
.st-val {
  width: 49%;
  padding-left: 1%;
}

// Stacktable responsive

.stacktable.large-only {
  display: table;
}
.small-only {
  display: none;
}

@media (max-width: 800px) {
  .large-only {
    display: none;
  }
  .stacktable.small-only {
    display: table;
  }
  h3, h5 {
    text-align: center;
  }
  table > tbody {
    tr:nth-child(even) > td > form.button_to {
      background-color: #f9f9f9;
    }
    tr:nth-child(odd) > td > form.button_to {
      background-color: #fff;
    }
  }
}
