// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
// apply styles to HTML elements
// to make views framework-neutral
main {
  background-color: #fff;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

hgroup {
  border-bottom: 1px solid #eee;
}

.light-red {
  color: #f23c5d;
}

form {
  background-color: whitesmoke;
  margin-top: 0.25rem;
  padding: 2rem;
  abbr {
    display: none; 
  }
}

table > tbody > tr > td > form, section#team > div > form {
  background-color: #fff;
  padding: 0.25rem;
  .btn-xs {
    border: 1px solid transparent;
    white-space: nowrap;
  }
}

.table-hover > tbody > tr:hover > td > form {
  background-color: whitesmoke;
}

.radio_buttons {
  width: auto;
  height: auto;
  background-color: whitesmoke;
  background-image: none;
  border: none;
  box-shadow: none;
}

.radio-inline {
  vertical-align: baseline;
}

.fa-check-circle {
  color: mediumaquamarine;
  font-size: 1.2em;
}

.badge {
  background-color: lightsteelblue;
}

// select2 changes to make it work nicely with bootstrap
// https://github.com/ivaynberg/select2/issues/2240
.select2-container, .select2-drop, .select2-search, .select2-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.select2-container .select2-choice {
  height: 32px;
}

.select2-container .sellect2-choice .select2-arrow {
  display: none;
}
