// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styling the tasks on home page
ul.tasks {
  list-style-type: none;
  background-color: #E8FFDD;
  margin-left: 0;
  li {
    margin-left: 1.1rem;
  }
  li.strike {
    text-decoration: line-through;
    color: #E8FFDD;
  }
  .green {
   color:#50c518;
   padding: 0.5rem;
  }
}

