// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
sgroup {
  margin-top: 20px;
  margin-bottom: 10px;
}

input#query.form-control {
  width: 75%;
}

@media (max-width: 767px) {
  input.btn {
    margin-top: 0.36em;
  }
}
